body, html {
    font-family: Lato, sans-serif;
    margin: 0;
    color: #666666;
    text-align: center;
    background-color: #EEEEEE;
}

#container {
    width: 720px;
    padding: 40px 0;
    margin: auto;
}

input {
    border: none;
    font-family: Lato, sans-serif;
    display: block;
    font-size: 24px;
    cursor: text;
    padding: 20px;
    color: #666666;
    margin: auto;
    width: 80%;
    background-color: #FFFFFF;
}
#textalphabet, #emojialphabet {
    width: 60%;
    display: inline-block;
}
#shuffletext, #shuffleemojis {
    width: 20%;
    display: inline-block;
    margin: 8px 0;
}
input[type="button"] {
    background-color: #E5E5E5;
}
input[type="button"]:hover {
    cursor: pointer;
    background-color: #DDDDDD;
}

#output {
    font-size: 48px;
    padding: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
footer {
    margin: 8px;
    font-size: 16px;
}
footer a {
    margin: 0 16px;
}

* {
    cursor: default;
}
::-moz-focus-inner {
    border:0;
}
a:focus {
    border: none;
    outline: 0;
}
a {
    color: #AAAAAA;
    text-decoration: none;
    transition: color 0.2s ease;
}
a:hover, a:hover img {
    cursor: pointer;
    color: #888888;
}

@media screen and (max-width: 720px) {
    #container {
        width: 100%;
    }
}